
.small-font{
    font:12px Georgia
}

/* space used between sections and divs */
.space {
    padding-top: 50px;
    padding-bottom: 50px;
}

.space-bottom {
    padding-bottom: 30px;
}

/* On mouse-over, add a deeper shadow */
.hover:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.b-blue {
    /* border-color: rgb(17, 46, 122) */
    border-color: rgb(25, 69, 130)
}

.blue-text {
    color: rgb(25, 69, 130)
}

/* all background colors and images */
.color-header {
    background: rgb(17, 46, 122)
}

.bg-image{
    background: url("atributes/ContactUs - background02.png"); 
}

.bg-image01{
    background: url("atributes/blue-background06.png") ;
  
}

.bg-image02{
    background: url("atributes/information-banner-pic03.png");
}

.bg-blue-alt{
    /* background: rgb(38, 65, 119) */
    background: rgb(47, 72, 123)
}

.bg-light-blue {
    background: rgb(219, 232, 238)
}

.pre-container-background {
    background: rgb(248, 248, 250)
}

.container-background {
    background: rgb(255, 255, 255)
}

.bg-gray {
    background-color: rgb(247, 247, 247);
}

.bg-light-gray {
    background: rgb(245,245,245)
}

.bg-super-light-gray {
    background: rgb(250,250,250)
}


/* Creates horizontal space between lists items  */
li{
    margin: 10px 0;
  }


/* Footer layout */
.footer-span {
    color: rgb(129, 145, 150)
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

.secondary-footer {
	text-align: center;
	padding: 0.3em 0;
	background: #f0f8fd;
}


/* bottom and top lines */
.bottom-line {
    border-bottom: 3px solid rgb(210,210,210);
}

.top-line {
   border-top: 1px solid rgb(210,210,210);
}




/* Scrollbar styling source: https://www.quackit.com/html/codes/html_scroll_box.cfm */
div.ex1 {
    height:120px;
    width:800px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    padding:2%
  }



  
  